
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter-bold{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
.poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.manrope-bold {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
body{
  margin: 96px 120px;
  color: #3a3a3a;
}
/* nav styles */
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title{
  font-family: Poppins;
  font-size: 24px;
  text-decoration: none;
  color: #3a3a3a;
}
.nav-title:hover{
  text-decoration: underline blue;
}
.nav-links{
  display: flex;
  align-items: center;
  gap: 34px;
  text-decoration: none;
  font-family: Poppins;
  font-weight: 600px;
  font-size: 16px;
}
.nav-link {
  text-decoration: none;
  align-items: center;
  color: #3a3a3a;
}
.nav-link:hover {
  text-decoration: underline blue;
}  
#search{
  height: 24px;
  width: 24px;
}
#buy{
  height: 36px;
  width: 36px;
}
/* Banner styles */
.banner-content{
  display: flex;
  justify-content: space-between;
}
.banner-title{
  font-family: poppins;
  font-weight: bold;
  font-size: 52px;
}
.banner-description{
  font-family: poppins;
  font-weight: 600;
  font-size: 16px;
}
.btn{
  gap: 8px;
  padding: 10px 24px;
  color: #ffffff;
  background-color: #e02c6d;
  border-radius: 41px;
  font-family: poppins;
  font-weight: bold;
  font-size: 16px;
}
.banner-img{
  height: 414px;
  width: 440px;
  background-image: url(images/Circle\ design.svg);
}
.banner-footer{
  display: flex;
  gap: 61px;
  justify-content: space-between;
  align-items: center;
  margin-top: 136px;
}
/* main styles */
main{
  margin: 100px;
}
#collection-title{
  font-family: poppins;
  font-weight: 600;
  font-size: 28px;
  color: #3a3a3a;
  text-align: center;
}
.product-img{
  width: 300px;
  height: 256px;
  border-radius: 5px;
}
.product-name{
  font-family: poppins;
  font-weight: 500;
  font-size: 28px;
  color: #18191F;
}
.product-price{
  font-family: inter;
  font-size: 24px;
  color: #00000087;
}
.star{
  width: 16px;
  height: 16px;
  color: orange;
}
.rating{
  font-family: roboto-regular;
  font-weight: bold;
  font-size: 14px;
  color: #5e6366;
}
.product-description{
  font-family: inter;
  font-weight: bold;
  font-size: 14px;
  color: #787885;
}
.products{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.see-more{
  font-family: poppins;
  font-weight: bold;
  font-size: 16px;
  justify-self: right;
  color:#e02c6d;
}